[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
openpyxl = "*"
numpy = "*"
matplotlib = "*"
scikit-learn = "*"
scipy = "*"
statsmodels = "*"
plotly = "*"
ipython = "*"
requests = "*"
pmdarima = "*"
tqdm = "*"
xgboost = "*"

[dev-packages]
ipykernel = "*"
notebook = "*"

[requires]
python_version = "3.10"
